*{
	font: 1em Arial, Helvetica, sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
	background-color:#d8bbbe ;
}

.header_cont{
	height:190px;
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	height: 150px;
	width: 300px;
	font-size: 100px;
	text-align: center;
	padding: 15px;
	color: #b1656b;
}

.header_citate {
	font-weight: 700;
	font-size: 40px;
	color: #b1656b;
	text-transform: italic;
}

.autorisation{
	border: solid 3px #b1656b;
	border-radius: 5px;
	padding: 10px;
}

.smth{
	font-size: 45px;
	margin: -20px  0;
}
.autorisation form input {
	padding: 6px;
	margin: 4px;
}
.autorisation input[type = submit] {
	float: right;
	color: #b1656b;
	background-color: #fff;
	margin: 10px 0 0;
	padding: 0 15px;
	border-radius: 5px;
}

.
